<div id="hotreload" style="position: fixed; bottom: 0; left: 0; background: red; padding: 3px; font-size: 10px; <%= local_assigns[:custom_style] %>">
  <%= turbo_stream_from 'hotreload' %>
  <span>Hot-reloading: <input type="checkbox" style="vertical-align: middle;" checked></span>
  <script type="text/javascript">
    window.addEventListener('DOMContentLoaded', function() {
      const panel = document.getElementById('hotreload');
      panel.addEventListener('DOMNodeInserted', () => {
        const enabled = panel.querySelector('input').checked;
        if (enabled) window.location.reload();
      });
    });
  </script>
</div>
