<div id="rails_hotreload" style="position: fixed; bottom: 0; left: 0; background: red; padding: 3px; font-size: 10px; <%= local_assigns[:custom_style] %>">
  <%= turbo_stream_from 'rails_hotreload' %>
  <span>Hot-reloading: <input type="checkbox" style="vertical-align: middle;" checked></span>
  <script type="text/javascript">
    document.getElementById('rails_hotreload').addEventListener('DOMNodeInserted', function(){
      const enabled = document.body.querySelector('#rails_hotreload input').checked;
      if (enabled) window.location.reload();
    });
  </script>
</div>
